# Ignore everything
*

# But track these files...
!*/
!.gitignore
!/**/homework_1.pdf
!/**/homework_2.pdf
!/**/homework_3.pdf
!/**/homework_4.pdf
!/**/homework_5.pdf
!/**/homework_6.pdf
!/**/homework_7.pdf
!/**/homework_8.pdf
!/**/homework_9.pdf
!/**/homework_10.pdf